<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contactmapper">

<!-- 추가 -->
<insert id="contactSave" parameterType="cdto">
	INSERT INTO CONTACT(CONTACTNO, NAME, COMPANY, EMAIL, PHONNUMBER, MESSAGE, CREATEDATE)
	VALUES (contact_seq.NEXTVAL, #{name}, #{company}, #{email}, #{phonnumber}, #{message}, SYSDATE)
</insert>







</mapper>